<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">

    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <section class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 title">Budgetize</h1><br><br>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style<br> component for calling extra attention to featured content<br> or information.</p>
            <br>
            <p>It uses utility classes for typography and spacing to space content out<br> within the larger container.</p>
            <p class="lead"><br><br>
                <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
            </p>
        </div>
    </section>


    <div th:replace="fragments :: footer"></div>

</body>

</html>