<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

    <nav th:replace="fragments :: navigation"></nav>

    <div class="container">

        <h1 th:text="${title}">Default Title</h1>-->

        <form method="post">

            <div th:each="expense : ${expenses}" class="checkbox">
                <input type="checkbox" name="expenseIds" th:value="${expense.id}" th:id="${expense.id}"/>>
                <label th:for="${expense.id}" th:text="${expense.description}"></label>
            </div>

        </form>
    </div>


</body>
</html>