<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

    <nav th:replace="fragments :: navigation"></nav>

    <div class="container">

        <h1 th:text="${title}">Default Title</h1>

        <form method="post">

            <div th:each="expense : ${expenses}" class="checkbox">
                <input type="checkbox" name="expenseIds" th:value="${expense.id}" th:id="${expense.id}"/>>
                <label th:for="${expense.id}" th:text="${expense.description}"></label>
            </div>

        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>