<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

    <nav th:replace="fragments :: navigation"></nav>

    <div class="container"><br/>
        <h4 th:text="${title}">Default Title</h4>
        <br/>
        <form method="post" th:action="@{/register}" th:object="${user}">
            <div class="form-group col-md-6">
                <label th:for="username">Username</label>
                <input type="text" class="form-control" th:field="*{username}" name="username" placeholder="Username"/>
                <span th:errors="*{username}" class="error"></span>
            </div>
            <div class="form-group col-md-6">
                <label th:for="email">Email address</label>
                <input type="email" class="form-control" th:field="*{email}" name="email" id="email" aria-describedby="emailHelp" placeholder="Email"/>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <span th:errors="*{email}" class="error"></span>
            </div>
            <div class="form-group col-md-6">
                <label th:for="password">Password</label>
                <input type="password" class="form-control" th:field="*{password}" name="password" id="password" placeholder="Password"/>
                <span th:errors="*{password}" class="error"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="verifypassword">Verify Password</label>
                <input type="password" class="form-control" name="verifypassword" id="verifypassword" placeholder="Re-Type Password"/>
                <span class="error" th:text="${verifyError}"></span>
            </div>
            <button type="submit" class="btn btn-info">Register</button>
        </form>
    </div>

<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>